{% extends "base.html" %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/general/css/stylesheet.css">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <title>NAGOYAmeshi</title>
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <!-- ロゴ -->
        <div class="logo-container">
            <p>名古屋のB級グルメ専門！</p>
            <h1><img src="/images/logo.png" alt="ロゴ"></h1>
        </div>
        <!-- ナビゲーション -->
        <nav>
            <a href="">ログイン</a>
            <a href="">新規作成</a>
        </nav>
    </header>
    <main>
        <!-- カルーセル -->
        <div class="top-images">
            <img src="/static/general/images/top_img1.jpg" alt="たこ焼き屋の画像">
        </div>
        <div class="main-contents">
            <!-- Left search -->
            <div class="left-container">
                <form action="">
                    <div class="search-window">
                        <div>
                            <img src="/images/search.svg" width="13px" alt="">
                            <input type="search" name="search" placeholder="ジャンル・店名・エリアで検索">
                        </div>
                        <input type="submit" name="submit" value="検索">
                    </div>
                </form>
                <div>
                    <h2><span>エリアから探す<span><img src="/images/search.svg" width="13px" alt=""></span></span></h2>

                    <p class="text-link"><span><a href="">熱田区</a></span><span><a href="">北区</a></span><span><a href="">千種区</a></span><span><a href="">天白区</a></span></p>
                    <p class="text-link"><span><a href="">中区</a></span><span><a href="">中村区</a></span><span><a href="">西区</a></span><span><a href="">東区</a></span><span><a href="">瑞穂区</a></span><span><a href="">緑区</a></span><span></p>
                    <p class="text-link"><span><a href="">港区</a></span><span><a href="">名東区</a></span><span><a href="">守山区</a></span><span><a href="">中川区</a></span></p>
                    <p class="text-link"><span><a href="">春日井市</a></span><span><a href="">尾張旭市</a></span><span><a href="">瀬戸市</a></span><span><a href="">北名古屋市</a></span></p>
                    <p class="text-link"><span><a href="">一宮市</a></span><span><a href="">清須市</a></span><span><a href="">大府市</a></span><span><a href="">小牧市</a></span><span><a href="">犬山市</a></span></p>
                    {% for area in areas %}
                    <a href="">{{area.name}}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- Right search -->
            <div class="right-container">
                <h2><span>ジャンルで探す<span><img src="/images/search.svg" width="13px" alt=""></span></span></h2>
                <div class="genre-link">
                    <a href="#"><img src="/images/genre_img1.jpg" alt=""></a>
                    <a href="#"><img src="/images/genre_img1.jpg" alt=""></a>
                    <a href="#"><img src="/images/genre_img1.jpg" alt=""></a>
                    <a href="#"><img src="/images/genre_img1.jpg" alt=""></a>
                    <a href="#"><img src="/images/genre_img1.jpg" alt=""></a>
                    <a href="#"><img src="/images/genre_img1.jpg" alt=""></a>
                </div>
                <p class="text-link"><span><a href="">スイーツ</a></span><span><a href="">アジアンフード</a></span><span><a href="">中華</a></span><span><a href="">韓国料理</a></span></p>
            </div>
        </div>
    </main>
    <!-- フッター -->
    <footer>
        <div>
            <p><a href="#">会社概要</a></p>
            <p>&copy;NAGOYAMeSHi 2024</p>
        </div>
    </footer>
</body>
</html>