body {
    font-family: 'Hiragino Sans','Yu Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 0.9rem;
}

h2 {
    font-size: 1.1rem;
    color: #F57F00;
    margin-bottom: 5px;
    font-weight: 600;
    
}

a {
    color: #444444;
}
/* TOP */
