[user]
	name = M.Aoyama
	email = maruuca.com@gmail.com
[init]
	defaultBranch = main
[alias]
	co = checkout
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ad %Creset%x09%C(cyan)%an%Creset %x09%C(auto)%s %d' --date=format-local:'%Y/%m/%d %H:%M:%S'
[credential]
	helper = "!f() { /root/.vscode-server/bin/903b1e9d8990623e3d7da1df3d33db3e42d80eda/node /tmp/vscode-remote-containers-b855d644-4eb2-4990-b1e4-7553963e5f53.js git-credential-helper $*; }; f"
