{% extends "base.html" %}

{% block title %}マイページ{% endblock %}
{% block content %}
<div class="mypg_container">
  <div class="new_booking_container">
    <table>
      <thead>
          <tr>
              <th>予約日時</th>
              <th>予約人数</th>
              <th>店舗名</th>
              <th>編集・削除</th>
          </tr>
      </thead>
      <tbody>
          <!-- ここにループ処理を追加 -->
          <tr>
              <td>2024-02-20 14:00</td>
              <td>2人</td>
              <td>テスト店舗</td>
              <td><button href="#" value="編集"></a></td>
          </tr>
          <tr>
              <td>2024-02-21 18:30</td>
              <td>4人</td>
              <td>サンプル店舗</td>
          </tr>
          <!-- ループ終了 -->
      </tbody>
  </table>
  </div>

</div>
{% endblock %}