{% extends "base.html" %}

{% block title %}レビュー投稿{% endblock title %}
</head>
<body>
    {% block content %}
    <h2>Let's share your experience!</h2>
    <h1>店舗レビュー</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ review_form.as_p }}
        <p>画像をアップロード</p>
        {% for image_form in image_forms %}
            {{ image_form.as_p }}
        {% endfor %}
        <button type="submit">Submit Review</button>
    </form>
    {% endblock content %}
</body>
</html>