body {
    font-family: 'Hiragino Sans','Yu Gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 1.1rem;
    color: #F57F00;
    margin-bottom: 5px;
    font-weight: 600;
    
}

a {
    color: #444444;
}
/* TOP */
/* ヘッダー */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 0.8em;
    height: 110px;
}

.logo-container > h1 > a > img {
    height: 80px;
}


nav {
    padding-right: 20px;
    padding-bottom: 7px;
}

nav > a {
   text-decoration: none; 
   font-size: 0.9em;
   color: #444444;
   padding-right: 20px;
}
/* メインコンテンツ */

/* ヒーロー画像 */
.top-images {
    width: 100%;
    text-align: center;
    background-color: rgba(255, 135, 5, 0.16);
    margin: 10px 0;
}

.top-images > img {
    max-width: 100%;
    margin: 10px 0;
}


/* コンテンツ */
.main-contents {
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 90%;
 max-width: 1000px;
 margin: 20px auto;
}

.main-contents p {
    padding-bottom: 10px;
}

/* 左側コンテンツ */
.left-container {
    width: 40%;
}

.search-window {
    display: flex;
    width: 85%;
    margin-bottom: 10px;

}

.search-window > div {
    background-color: rgba(255, 135, 5, 0.16);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    width: 80%;
}

input::placeholder {
    font-size: 0.7em;
   }

input[type="submit"] {
    font-size: 0.9em;
    color: #FFF;
    width: 20%;
    background-color: #F57F00;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-window span {
    background-color: #F57F00;
}

.search-area {
    width: 90%;
}

.search-area a {
    white-space: nowrap;
    line-height: 2.2em;
    margin-right: 1em;
}

/* 右側コンテンツ */
.right-container {
    width: 40%;
}

.right-container div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px 10px;
    width: 100%;
}

.right-container a {
    width: 45%;
}

.genre-link img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}


/* フッター */
footer {
    background-color: #F57F00;
    color: #FFF;
    width: 100%;
    height: 70px;
    position: relative;
    margin-top: 60px;
}

footer > div {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    text-decoration: underline;
    color: #FFF;
}

footer > div > p {
    display: block;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5px;
}


@media screen and (max-width: 767px) {
    /* メインコンテンツ */
    .main-contents {
        flex-direction: column;
        width: 100%;
        padding-left: 7vw;
        row-gap: 10px;
    }
    /* 左側コンテンツ */
    .left-container {
        width: 100%;
}

    /* 右側コンテンツ */
    .right-container {
        width: 100%;
}
}

/* 店舗詳細ページ */
/* お気に入り追加ボタン */
.shop_info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 360px;
    width: 100vw;
    background-color: rgba(255, 135, 5, 0.16);
    position: relative;
    padding: 0 50px 50px 50px;
}


.btn_fav {
    height: auto;
    width: auto;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #F57F00;
    color: #FFF;
    position: absolute;
    right: 100px;
    top: 25px;
    padding: 10px 20px;
    display: inline-block;
}

/* 店舗詳細左 */

.shop_info_L {
    width: 30%;
    min-width: 250px;
    margin-right: 30px;

}

.shop_info_L p {
    font-size: 0.8rem;
}

.shop_info_L h1 {
    font-size: 1.5rem;
}

.shop_info_L img {
    width: 100%;
    min-width: 250px;
    max-width: 300px;
}
/* 店舗詳細右 */

.shop_info_R {
    width: 60%;
    height: 200px;
    min-width: 300px;
} 

.info-container {
    display: flex;
    flex-direction: column;
}

.price_genre {
    display: flex;
    justify-content: left;
    gap: 50px;
}

.info-scroll {
    height: auto;
    overflow-y: 150px;
    margin-top: 10px;
}

.shop_info_R p {
    font-size: 0.9em;
    overflow-y: auto;
}

/* レビューと予約 */
.shop_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 85px;


    
}

/* レビュー */
.review_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.review_top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.review_top_container h3, p {
    display: inline-block;
}

.review_top_container > div {
    align-self: self-end;
}

.btn_rev {
    height: auto;
    width: auto;
    padding: 10px 20px;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: #F57F00;
    color: #FFF;
    display: inline-block;
}

.review_scroll {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    border: 1px dotted #444444;
}

.review_contents {
    margin: 50px;
}

/* スターの色を#F57F00に変更 */
.rating .star {
    color: #F57F00;
}

/* 予約フォーム */
.booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    filter: drop-shadow(0px 0.5px 1px #000000);
    padding-top: 55px;
    margin-left: 20px;
}

.booking_header {
    background-color: #F57F00;
    color: #FFF;
    text-align: center;
}

.booking_header p {
    font-size: 0.7em;
}

.booking_header, .booking_form {
    width: 300px;
    min-width: 200px;
}

.booking_form {
    background-color: #FFFDFB;
    height: 300px;
    
}

.booking_form div {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 25px;   

}

.booking_form label {
    display: block;
    margin-bottom: 1px;
    font-size: 0.9em;
}

.booking_form input {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #929292;
    background-color: #FFF;
    color: #929292;
    width: 100%;
    height: 2.2em;
}

.booking_form button {
    background-color: #F57F00;
    color: #FFF;
    height: auto;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    margin-top: 20px;
}

/* 店舗検索一覧 */

.page_title {
    font-size: 0.9rem;
    padding: 15px;
    color: #000000;
}

.shop_list_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;

}

.shop_item {
    width: 200px;
    height: 300px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: #FFFDFD;
    margin-bottom: 70px;
}

.shop_item > div {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.shop_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop_item_text {
    padding: 1rem;
    
}

.shop_item_text p {
    font-size: 0.8em;
}

