{% extends "base.html" %}
{% load bootstrap %}

{% block head %}<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{% endblock %}

{% block title %}会員ログイン{% endblock %}
{% block content %}
  <body>
    <div class="review_container">
      <div class="container">
          <form method="post">
          {% csrf_token %}
          {{form|bootstrap}}
          <input type="submit" class="btn review_submit_btn" value="ログイン">
        </form>
      </div>
    </div>
{% endblock %}
